#footer {
  padding: 4rem 0;
  background: rgb(15, 34, 43);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 10px 0;
  }
  .footer_section {
    padding-bottom: 2rem;
  }
  a {
    color: #fff; 
  }
}
