#header {
  padding: 8px 0;
  background: rgb(15, 34, 43);
  color: #fff;
}
#header a {
  color: inherit;
  font-size: 0.9rem;
  text-transform: lowercase;
  letter-spacing: 0.015em;
}

.header-inner {
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: space-between;
}
.header-nav-main {
  display: flex;
  align-items: center;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  li {
    display: inline-block;
    padding: 8px;
  }
}
.header-nav_search-btn {
  display: inline-block;
  margin: 0 15px 0 0;
  padding: 5px 8px;

  svg {
    fill: #fff !important;
  }
}
.header-mob {
  &_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_name {
    flex-grow: 1;
    @media all and (max-width: 375px) {
      font-size: 0.85rem;
    }
  }
  &_btn {
    z-index: 6;
    position: relative;
    padding: 5px 8px;
    background: none;
    border: 1px solid #fff;

    &[aria-expanded='false'] {
      .open-icon {
        display: inline-block;
      }
      .close-icon {
        display: none;
      }
    }
    &[aria-expanded='true'] {
      .open-icon {
        display: none;
      }
      .close-icon {
        display: inline-block;
      }
    }
  }
  &_nav-btn {
    fill: #fff;
  }
  &_flyout {
    display: none;
    z-index: 8;
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 90%;
    width: 300px;
    padding-top: 100px;
    background: darken($color: rgb(15, 34, 43), $amount: 5);
    transform: translateX(1000%);
    animation: slideClose 0.6s forwards;

    &.is-open {
      display: block;
      animation: slideOpen 0.6s forwards;
    }

    @keyframes slideOpen {
      from {
        transform: translateX(1000%);
      }
      to {
        transform: translateX(0);
      }
    }
    @keyframes slideClose {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(1000%);
      }
    }

    ul {
      margin: 0;
      padding: 10px;
      list-style-type: none;
    }
    li a {
      display: inline-block;
      margin: 10px auto;
      text-transform: lowercase;
      letter-spacing: 0.015em;
    }
  }
}

/*=============================================
=            Search Overlay            =
=============================================*/
#search-overlay {
  display: block;
  z-index: 9;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.98);
  overflow-y: auto;

  .search-overlay_in {
    width: 100%;
    max-width: 650px;
    margin: auto;
    padding: 75px 15px 30px 15px;
  }

  #search-overlay_results {
    ul {
      padding: 0;
      margin: 1rem 0 0 0;
    }
    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li a {
      display: block;
      padding: 0.75rem 5px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      transition: background 0.25s;

      &:hover {
        background: rgba(255, 255, 255, 0.25);
      }
    }
  }

  #search-overlay_close {
    margin: 20px 0;
  }
  #search-overlay_loading {
    display: none;
    text-align: center;
  }
  &.is-loading #search-overlay_loading {
    display: block !important;
  }
  &.is-loading #search-overlay_results {
    display: none !important;
  }
  &.is-hidden {
    display: none !important;
  }
}

/*=====  End of Search Overlay  ======*/
